@model AdministrasiSekolah.Models.Parent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nama Ibu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaIbu)
        </dd>
        <dt>
            @Html.DisplayName("Nama Ayah")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaAyah)
        </dd>
        <dt>
            @Html.DisplayName("Pekerjaan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pekerjaan)
        </dd>
        <dt>
            @Html.DisplayName("Pendapatan Ayah")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PendapatanAyah)
        </dd>
        <dt>
            @Html.DisplayName("PendapatanIbu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PendapatanIbu)
        </dd>
        <dt>
            @Html.DisplayName("Password")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayName("Username")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUserNavigation.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdParent">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
