@model IEnumerable<AdministrasiSekolah.Models.Parent>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center" style="font-size:64px">Data Parent</h2>

<p class="text-right">
    <a asp-action="Create"> <span class="glyphicon-plus"></span>Data Data Parent Baru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Ibu")
            </th>
            <th>
                @Html.DisplayName("Nama Ayah")
            </th>
            <th>
                @Html.DisplayName("Pekerjaan")
            </th>
            <th>
                @Html.DisplayName("Pendapatan Ayah")
            </th>
            <th>
                @Html.DisplayName("Pendapatan Ibu")
            </th>
            <th>
                @Html.DisplayName("Password")
            </th>
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaIbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaAyah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pekerjaan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendapatanAyah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendapatanIbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdParent">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdParent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdParent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
