@model AdministrasiSekolah.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("NamaAdmin")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaAdmin)
        </dd>
        <dt>
            @Html.DisplayName("Password")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAdmin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
